/***our-client*****/
.our-client{
    margin-top: 111px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 160px;
}

.our-client .image{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
 

}
.our-client .image img{
    display: flex;
    width: 80%;
    padding: 0;
}
.our-client h2 {
    padding: 0;
    left: 0;

}
.our-client h2 {
    width: 100%;
    color: #606060;
    font-size: 51px;
    text-align: left;
    margin: 60px 0px 30px 0px;
}
.our-client .col-md-3 {
    padding: 60px 30px;
}
.our-client .image > div{
    max-width: 100%;
}
.our-client .image div:not(:nth-child(3)){
        border-right: 1px solid #c4c4c4;

}
.our-client .image div:nth-child(4),
.our-client .image div:nth-child(5){
    border-top: 1px solid #c4c4c4;

}

@media (max-width: 480px){
   .our-client h2 {
    font-size: 30px;
    margin: 30px 0px 30px 0px;
} 
.our-client{
    margin-top: 48px;
    padding-bottom: 77px;
    }
.our-client .col-md-3 {
    padding: 50px 6px;
}

}